<div class="alert alert-success" role="alert">
  <strong>Well done!</strong> You successfully guessed code.
</div>
<img src="./images/win.gif" class="game_over" alt="Game Over">

<form class="navbar-form btn-group" role="form" action="/new_game">
  <button type="submit" class="btn btn-success">Play again?</button>
</form>

<form class="navbar-form btn-group" role="form" action="/save_score">
  <button type="submit" class="btn btn-warning">save score?</button>
</form>

<form class="navbar-form btn-group" role="form" action="/score">
  <button type="submit" class="btn btn-info">show score..</button>
</form>
